<div id="app">
  <header>
    <div class="width">
      <span id="logo">Mongdall ></span>
    </div>
  </header>
  <article>
    <div class="width">
      <router-view></router-view>
    </div>
  </article>
  <footer>
    <div class="width">
      <div id="info">
        <span>
          <span class="emphasis">Business Registration No.:</span> 210-21-74690
           | 
          <span class="emphasis">CEO:</span> Kiseok Na
        </span>
        <br />
        <span>
          <span class="emphasis">Address:</span>
           Mongdall, 107dong 1504ho, 31, Wanjeong-ro 34beon-gil, Seo-gu, Incheon, Republic of Korea
        </span>
      </div>
    </div>
  </footer>
</div>